<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  padding: 5px;
}
table {
  border-spacing: 15px;
}
</style>
</head>
<body>

<h2>certifications</h2>
<p>Border spacing specifies the space between the cells.</p>

<table style="width:100%">
  <tr>
    <th>event</th>
    <th>place</th> 
    <th>date</th>
  </tr>
  <tr>
    <td>LitFest-Crossfit</td>
    <td>winner</td>
    <td>2019</td>
  </tr>
  <tr>
    <td>Mood Indigo-Sketching</td>
    <td>runner up</td>
    <td>2018</td>
  </tr>
  <tr>
    <td>devils Circuit</td>
    <td>winner</td>
    <td>2018</td>
  </tr>
</table>

<p>Shortfilm teaser created by me</p>

</body>
<body>

<iframe width="420" height="345" src="https://www.youtube.com/embed/Gpk6bKwfwgM">
</iframe>

</body>
</html>
